html,body{
	margin: 0;padding: 0;
	width: 100%;height: 100%;
}
header{
	width: 100%;height: 60px;
	background: #168bd8;
	position: fixed;
	top: 0;left: 0;
	z-index: 999;
}
body{
	overflow: hidden;
}
#fullpage{
	height: 100%;width: 100%;
    position: relative;	
}
section{
	width: 100%;height: 100%;
}
section:nth-child(1){
	background: url(../img/bg1.jpg) no-repeat;
	position: relative;
}
section:nth-child(2){
	background: url(../img/bg2.jpg) no-repeat;
	position: relative;
}
section:nth-child(3){
	background: url(../img/bg3.jpg) no-repeat;
	position: relative;
}
section:nth-child(4){
	background: url(../img/bg4.jpg) no-repeat;
	position: relative;
}

/*******header******/
.header .logo{
	width: 120px;height: 40px;
	background: url(../img/logo.png) 0 0 no-repeat;
    margin-left: 10px;
}
.header{
	height: 60px;
	display: flex;   /* 弹性盒子模型 */
	flex-wrap:nowrap;   /* 盒子的包裹方式 */
	justify-content:space-between;   /* 水平对齐方式 */
	align-items:center;    /* 垂直对齐方式 */
}
.header .index{
	font-size: 15px;
	align-self:flex-end;    /* 垂直对齐方式 */
	font-family: "微软雅黑";
    border-bottom: 1px dotted #ccc;
}
.header .last{
	align-self:flex-end;    /* 容器的对其方式 */
	font-size: 12px;
	font-family: "微软雅黑";
    position: relative;
    border-bottom: 1px dotted #ccc;
}
.header a:nth-child(8){
	color: #FFDA28;
}
/*小屏*/
.max{
    display: none;
}
.min{
    display: flex;
    position: relative;
}
.menuOption{
    width: 20px;height: 30px;
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
}
.menuOption .menu-line-top{
    width: 100%;height: 2px;
    position: absolute;
    left: 0;top: 10px;
    background: #fff;
    transition:transform 1s ease;
}
.menuOption .menu-line-bottom{
    width: 100%;height: 2px;
    position: absolute;
    left: 0;top: 20px;
    background: #fff;
    transition:transform 1s ease;
}
.min .scene{
    position: absolute;
    top: 60px;left: 0;
    width: 100%;height: 40px;
    cursor: pointer;
    perspective:500px;
}
.min .menu{
    position: absolute;
    top: 0px;left: 0;
    width: 100%;height: 100%;
    transform-style:perserve-3d;
    display: none;
}
.min .menu a {
    display: block;
    width: 100%;height: 100%;
    text-align: center;
    line-height: 40px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    opacity: 0;
}

/****手机客户端 下拉****/
.last .phone{
    width: 320px;height: 252px;
    background: #fff;
    position: absolute;
    top: 25px;left: -120px;
    display: none;
}
.last .download{
    width: 100%;height: 42px;
    line-height: 42px;
    background: #f1f1f1;
    font-size: 18px;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    font-family: microsoft yahei;
}
.phone .left,.phone .right{
    width: 50%;height: 210px;
    padding: 20px 15px 0;
    float: left;
    text-align: center;
}
.phone .left .android{
    background: url(../img/logo.png) 0 -182px;
    width: 120px;
    height: 120px;
}
.phone p{
    font-size: 14px;
    color: #000;
    width: 60px;
    height: 25px;
    line-height: 25px;
    margin: 18px auto;
    border-radius: 25px;
    background: #f5f5f5;
    text-align: center;
    font-family: microsoft yahei;
}
.phone .right .ios{
    background: url(../img/logo.png) 0 -305px;
    width: 120px;
    height: 120px;
}

/******按钮******/
.btn{
	width: 10px;height: 80px;
	position: absolute;
	top: 0;bottom: 0;
	margin: auto;
	right: 20px;
}
.btn li{
	width: 10px;height: 10px;
	border: 1px solid #316389;
	margin: 10px 0;
	border-radius: 50%;
}

/*****section 1*****/
.first-img{
    height: 100%;
    position: relative;
}
.first-img .row{
    height: 100%;
}
.left-img{
    height: 100%;
}
.left-img img{    
    position: absolute;
    left: 0;top: 15%;
}
.right-img{
    height: 100%;
}
.fly{
	width: 119px;
    height: 78px;
    background: url(../img/1fly.png);
    position: absolute;
    left: 295px;
    top: 80px;
    animation:fly 2s linear infinite alternate;
}
.top-yun div{
	position: absolute;
    left: 0;top: 0;
    width: 200%;
    height: 100%; 
	background: url(../img/11.png) repeat;
    animation:move 80s linear infinite forwards;
}

.middle{
	width: 100%;
	position: absolute;
	top: 50%;left: 0;
}
.middle div{
	position: absolute;
	left: 0;top: -200px;
	width: 100%;
	height: 400px;
	background: url(../img/12.png) repeat;
	animation:move 100s linear infinite;
}
.bottom{
	position: absolute;
    width: 100%;
	height: 
    left: 0;
    bottom: 0;
    background: red;
}
.bottom div{
	position: absolute;
	left: 0;bottom: 0;
	width: 100%;
	height: 400px;
	background: url(../img/13.png) repeat;
	animation:move 150s linear infinite;
}
.foot{
	width: 100%;
	height: 126px;
	background: url(../img/bg2.jpg);
	position: absolute;
	bottom: 0;
}
.foot .footer{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.foot .footer div:nth-child(1){
	width: 63px;
    height: 78px;
    background: url(../img/1bottom3.png);
    position: absolute;
    right: 288px;
    top: -13px;
} 
.foot .footer div:nth-child(2){
	width: 260px;
    height: 175px;
    background: url(../img/1bottom4.png);
    position: absolute;
    right: -129px;
    top: -47px;
}
.foot .footer div:nth-child(3){
	width: 265px;
    height: 175px;
    background: url(../img/1bottom1.png);
    position: absolute;
    left: -182px;
    top: -50px;
}
.foot .footer div:nth-child(4){
	width: 242px;
    height: 228px;
    background: url(../img/1bottom2.png);
    position: absolute;
    left: 126px;
    top: -191px;
}
/*****section 2*****/
.center1{
    width: 100%;
    height: 100%;
    position: relative;
}
.center1 .font h3{
	width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../img/2font.png);
    animation:font 1s linear infinite;
}
.center1 .font .text{
	margin-left: 86px;
    margin-top: 8px;
}
.center1 .font .text h4{
	font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.center1 .font .text p{
	font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.center1 .yun{
	width: 444px;
    height: 427px;
    background: url(../img/2yun.png);
    position: absolute;
    right: 30px;
    top: 150px;
}
.bottom1{
	height: 67%;
    margin: 0 auto;
}
.bottom1 div{
	position: absolute;
	bottom: 0;
}
.bottom1 div:nth-child(1){
	background: #35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
.bottom1 div:nth-child(2){
	background: #4ac179;
    left: 158px;
    width: 88px;
    height: 88px;
}
.bottom1 div:nth-child(3){
	background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}
.bottom1 div:nth-child(4){
	background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
}
.bottom1 div:nth-child(5){
	background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
}
/*****section 3*****/
.center2{
    width: 100%;height: 100%;
    position: relative;
}
.center2 .rect div:nth-child(1){
    width: 88px;height: 88px;
    background: #33bb9a;
    position: absolute;
    left: 88px;top: 88px;
}
.center2 .rect div:nth-child(2){
    width: 88px;height: 88px;
    background: #29a2b8;
    position: absolute;
    left: 0px;top: 176px;
}
.center2 .rect div:nth-child(3){
    width: 88px;height: 88px;
    background: #60cf6e;
    position: absolute;
    left: 176px;top: 176px;
}
.center2 .rect div:nth-child(4){
    width: 176px;height: 176px;
    background: #8ae75a;
    background: url(../img/rect.jpg);
    position: absolute;
    left: 88px;top: 264px;
}
.center2 .rect div:nth-child(5){
    width: 88px;height: 88px;
    background: #33bb9a;
    position: absolute;
    left: 264px;top: 264px;
}

.center2 .font h3{
	width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../img/3font.png) no-repeat;
    animation:font 1s linear infinite;
    z-index: 100;
}
.center2 .font .text{
	margin-left: 86px;
    margin-top: 8px;
}
.center2 .font .text h4{
	font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.center2 .font .text p{
	font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.center2 .yun{
	width: 444px;
    height: 330px;
    background: url(../img/3.png);
    position: absolute;
    right: -14px;
    top: 200px;
}
.bottom2{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 138px;
    background:url(../img/3mountain.png);
}
/*****section 4*****/
.center3{
    width: 100%;height: 100%;
    position: relative;
}
.center3 .font h3{
	width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../img/4font.png) no-repeat;
    animation:font 1s linear infinite;
}
.center3 .font .text{
	margin-left: 86px;
    margin-top: 8px;
}
.center3 .font .text h4{
	font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.center3 .font .text p{
	font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.center3 .yun{
	width: 603px;
    height: 361px;
    background: url(../img/4.png);
    position: absolute;
    right: -14px;
    top: 200px;
}
.bottom3{
	position: absolute;
	left: 40px;
    top: 140px;
    width: 275px;
    height: 245px;
    background:url(../img/4qiu.png);
}

.aa h3{
    margin-left: -50px;
    opacity: 0;
    transition: margin 1s linear,opacity 1s linear;
}
.aa .yun{
    margin-right: -50px;
    opacity: 0;
    transition: margin 1s linear,opacity 1s linear;
} 